.panel {
  box-sizing: border-box;
  width: 750px;
  height: 600px;
  background-color: #e0e5ec;
  border-radius: 20px;
  box-shadow:
    -10px -10px 20px 0 #ffffff,
    10px 10px 20px 0 #a3b1c6;
}

.heading {
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 2%;
  color: #5a6a82;
}

.videoPlaceholder {
  display: block;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow:
    inset -5px -5px 10px 0 #ffffff,
    inset 5px 5px 10px 0 #a3b1c6;
  width: 710px;
  height: 460px;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}
